.blueBg {
  background-color: rgb(51,102,204);
}

.redBg {
  background-color: rgb(247,102,102);
}

.greenBg {
  background-color: rgb(83,206,161);
}

.blackBg {
  background-color: rgb(29,29,27);
}

.lighterBlackBg {
	  background-color: rgba(29,29,27,0.2);
}

.darkGrayBg {
  background-color: rgb(60,60,59);
}

.grayBg {
  background-color: rgb(237,237,237);
}

.pattern {
	background-image: url("/img/pattern.gif");
}



.header {
	padding-top: 120px;
  padding-bottom: 60px;
}

.header__text {
	font-family: "oswald-bold", sans-serif;
  font-size: 86px;
  text-align: center;
}

.header__text__subtitle {
  font-family: "raleway-light", sans-serif;
  font-size: 20px;
  text-align: center;
  color: gray;
}

.colorines {
	color: white;
	height: 350px;
}

.colorin {
  position: relative;
	height: 100%;
}

.colorin__texto {
  padding-top: 90px;
  padding-left: 45px;
  padding-right: 45px;
  position: absolute;
}

.colorin__texto__title {
  position: absolute;
  top: 45px;
  font-family: "oswald-bold", sans-serif;
  font-size: 16px;
}

.colorin__texto__body {
  font-family: "raleway-light", sans-serif;
  font-size: 16px;
}

.colorin__texto__body-bold {
  font-family: "raleway-bold", sans-serif;
  font-size: 16px;
}


.colorin__btn {
  position: absolute;
  top: 240px;
  width: 170px;
  left: 110px; 
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border: 1px solid white;
}

.colorin__btn:hover {
  text-decoration: none;
}

.desayuno {
	height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.desayuno__img {
  padding-left: 80px;
  padding-right: 40px;
  height: 290px;
}

.desayuno__text {
  padding-left: 40px;
  padding-right: 80px;
}

.desayuno__text__title {
  font-family: "raleway-bold", sans-serif;
  font-size: 50px;
}

.desayuno__text__body {
  margin-top: 27px;
  font-family: "raleway-light", sans-serif;
  font-size: 24px;
  color: gray;
}

.desayuno__text__body-link {
  font-family: "raleway-bold", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.desayuno__text__body-link:hover,
.desayuno__text__body-link:active,
.desayuno__text__body-link:focus, {
    text-decoration: none;
    color: rgb(51,102,204);
}

.tarifas {

}

.tarifas__title {
  width: 210px;
  margin-top: 90px;
  margin-bottom: 45px;
  margin-left: calc(50% - 105px); 
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border: 1px solid white;
}

.tarifas__content {
  margin-bottom: 90px;
}

.like {
	width: 60%;
  background-color: white;
  padding: 30px 90px;
  margin: 5% 20%;
}

.like__text {
  font-family: "raleway-light", sans-serif;
  font-size: 24px;
  text-align: center;
  color: gray;
}

.like__author {
  margin-top: 18px;
  text-align: right;
}


.heart-btn {
  margin-top: 18px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.heart {
	padding: 27px 8px;
}

.preFooter {
		height: 100px;
		color: white;
}

.footer {
	height: 60px;
}

.footer__text {
	line-height: 60px;
}

.cartel {
	height: 100%;
}

.caret {
	display: block;
}

#dropdownMenu1 {
	position: absolute;
	top: 0;
	right: 100px;
	background-color: rgba(29,29,27,0.2);
}

