body { overflow-x: hidden;}

.blueBg {
  background-color: rgb(51,102,204);
}

.redBg {
  background-color: rgb(247,102,102);
}

.greenBg {
  background-color: rgb(83,206,161);
}

.blackBg {
  background-color: rgb(29,29,27);
}

.lighterBlackBg {
	  background-color: rgba(29,29,27,0.2);
}

.darkGrayBg {
  background-color: rgb(60,60,59);
}

.grayBg {
  background-color: rgb(237,237,237);
}

.pattern {
	background-image: url("/img/pattern.gif");
}



.header {
	padding-top: 120px;
  padding-bottom: 60px;
}

.header__text__title {
	font-family: "oswald-bold", sans-serif;
  font-size: 86px;
  text-align: center;
}

.header__text__subtitle {
  font-family: "raleway-light", sans-serif;
  font-size: 20px;
  text-align: center;
  color: gray;
}

.colorines {
	color: white;
	height: 350px;
}

.colorin {
  position: relative;
	height: 100%;
}

.colorin__texto {
  padding-top: 90px;
  padding-left: 45px;
  padding-right: 45px;
  position: absolute;
}

.colorin__texto__title {
  position: absolute;
  top: 45px;
  font-family: "oswald-bold", sans-serif;
  font-size: 16px;
}

.colorin__texto__body {
  font-family: "raleway-light", sans-serif;
  font-size: 16px;
}

.colorin__texto__body-bold {
  font-family: "raleway-bold", sans-serif;
  font-size: 16px;
}


.colorin__btn {
  position: absolute;
  top: 240px;
  width: 170px;
  left: calc(50% - 100px); 
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border: 1px solid white;
}

.colorin__btn:hover {
  text-decoration: none;
}

.desayuno {
	height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
}

.desayuno__img {
  margin-top: 0px;
  margin-bottom: 0px; 
  height: 100%;
  display: inline-block;
}

.desayuno__text {
  padding-left: 40px;
  padding-right: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  display: inline-block;
}

.desayuno__text__title {
  font-family: "raleway-bold", sans-serif;
  font-size: 50px;
}

.desayuno__text__body {
  margin-top: 27px;
  font-family: "raleway-light", sans-serif;
  font-size: 24px;
  color: gray;
}

.desayuno__text__body-link {
  font-family: "raleway-bold", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.desayuno__text__body-link:hover,
.desayuno__text__body-link:active,
.desayuno__text__body-link:focus, {
    text-decoration: none;
    color: rgb(51,102,204);
}


.tarifas__title {
  width: 210px;
  margin-top: 90px;
  margin-bottom: 45px;
  margin-left: calc(50% - 105px); 
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border: 1px solid white;
}

.tarifas__content {
  margin-bottom: 90px;
}

.like {
	width: 60%;
  background-color: white;
  padding: 30px 90px;
  margin: 5% 20%;
}

.like__text {
  font-family: "raleway-light", sans-serif;
  font-size: 24px;
  text-align: center;
  color: gray;
}

.like__author {
  margin-top: 18px;
  text-align: right;
}


.heart-btn {
  margin-top: 18px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.heart {
	padding: 27px 8px;
}

.preFooter {
		height: 100px;
		color: white;
}

.footer {
	height: 60px;
}

.footer__text {
	line-height: 60px;
}

.cartel {
	height: 100%;
}

.caret {
	display: block;
}

.dropdown {
	position: absolute;
	top: 0;
  width: 180px;
  height: 60px;
	right: 16%;
	background-color: rgba(29,29,27,0.2);
  color: white;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.dropdown-menu {
  width: 180px;
  height: 60px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 16%;
  background-color: rgba(29,29,27,0.2);
  color: white;
}

.caret{
  color: white;
  margin-left: 80px;
}


.seccionthree {
  width: 100%;
  height: 100%;
  background-color: rgb(51,102,204);
}

.seccionthree_left,
.seccionthree_right {
  height: 850px;
  background-color: rgb(51,102,204);
  display: block;

}

/*card tarifas pequeño*/

.seccionthree_card {
  display: table;
  position: absolute;
  top: 180px;
  left: 0;
  padding: 0 80px 0 40px;
}
.seccionthree_card_title {
  display: table-cell;
  font-family: "oswald", sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  background: rgb(83,206,161);
  vertical-align: middle;
  padding: 0px;
  position: relative;
}

.tarifa__title {
  width: 120px;
}

.seccionthree_card_text {
  display: table-cell;
  font-family: "raleway-light", sans-serif;
  font-size: 12px;
  width: 60%;
  vertical-align: middle;
  margin-right: 50px;
  background: white;
  right: 20px;
  padding: 15px 20px 5px 30px;
  white-space: nowrap;
  line-height: 9px;
}

.rombo {
  background-color: rgb(83,206,161);
  width: 15px;
  height: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  position: absolute;
  right: -7.5px;
  bottom: calc(50% - 7.5px);

}


.tarifas__title {
  border-radius: 3px;
  border: 1px solid white;
  width: 200px;
  height: 60px;
  margin-top: 60px;
  position: absolute;
  font-family: "oswald-bold", sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 30px;
  z-index: 1;
}

/*cartel tarifas*/
.seccionthree_price_table {
  display:table-cell;
  position: relative;
  color: white;
  left: 30px;
  background-color: rgb(29,29,27);
  font-family: "raleway-bold", sans-serif;
  font-size: 30px;
  vertical-align: middle;
  padding: 20px;
}

.tarifas__table__rate__corner_right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid rgb(51,102,204);
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(51,102,204);
  top: 0px;
  right: 0px;
}

.tarifas__table__rate__corner_left {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid rgb(51,102,204);
  border-left: 10px solid rgb(51,102,204);
  border-right: 10px solid transparent;
  bottom: 0px;
  left: 0px;
}

  .seccionthree_price_table p {
    margin: 0;
  }

.seccionthree_price_text {
  color: white;
  font-family: "raleway-light", sans-serif;
  font-size: 9px;
  bottom: 10px;
  top: 5px;
  width: 80px;
}

.seccionthree_card_4dias {
    padding-top: 0px;
  }
.seccionthree_card_8dias {
    padding-top: 140px;
  }
.seccionthree_card_12dias {
    padding-top: 280px;
  }

.seccionthree_card_morning {
  padding-top: 0px;
}

.seccionthree_card_tardes {
  padding-top: 180px;
}
.seccionthree_card_flexible {
  padding-top: 460px;
}
.seccionthree_card_habitante {
  padding-top: 440px;
}

.seccionfour {
  width: 100%;
  height: 440px;
  background-color: rgb(247,102,102);
  background-image: url("/images/fondo_patern.png");
  position: relative;

}

.seccionfour_text {
  width: 600px;
  height: 350px;
  background-color: white;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    font-family: "raleway-light", sans-serif;
    font-size: 25px;
    padding: 20px 50px 0px 50px;
    text-align: center;
  }
}
.seccionfour_img {
  margin-left: 50%;
  width: 120px;
  height: 120px;
  -webkit-transform: translate(-50%);
  background: url(../img/corazon_uno.svg); 

}
.seccionfour_img:hover {
  background: url(../img/corazon_dos.svg); 
}


footer{
  display: table;
  position: relative;
  width: 100%;
  height: 400;
  background-color: rgb(60,60,59);
}
.footer_one, .footer_two, .footer_three, .footer_four {
  display: table-cell;
  padding: 60px;
  font-size: 14px;
  font-family: "raleway-light", sans-serif;
  color: white;
  p{
    margin: 0;
  }
}

.footer__btn {
  position: absolute;
  top: 140px;
  width: 240px;
  height: 60px;
  left: 80px; 
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border: 1px solid white;
  line-height: 30px;
}

.footer_redes_img {
  background-color: rgb(29,29,27);
  position: relative;
  padding: 8px;
  padding-left: 60px;
  padding-right: 60px;
}


.footer__text {
  line-height: 45px;
  color: grey;
  font-size: 14px;
}

.footer__text__bold {
  font-size: 14px;
  font-family: "raleway-bold", sans-serif;
  color: white;

}

.footer__logos {
  float: right;
  line-height: 45px;
}

@media only screen and (max-width: 991px) {

  .header {
    padding: 0;
    padding-bottom: 60px;
  }

  .header__text{
    padding: 45px 0px;
  }

  .desayuno__img {
    height: 100%;
    display: inline-block;
  }

  .desayuno__text {
    height: 100%;
    display: inline-block;
  }

  .seccionthree_left,
  .seccionthree_right {
    height: 640px;
  }

  .seccionthree_card {
    padding-left: 40px;
  }
  
  .like {
    width: 90%;
    padding: 5%;
    margin: 10% 5%;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 0;
  }

  .header__text{
    padding: 0;
  }

  .header__img {
    width: 100%;
    padding: 30px;
    padding-top: 10px;
  }

  .colorines {
    height: 250px;
  }

  .colorin__texto {
    padding-bottom: 0;
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .colorin__texto__title {
    top: 20px;
  }

  .colorin__btn {
    position: absolute;
    top: 180px;
    width: 170px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border: 1px solid white;
  }


  .seccionthree_left,
  .seccionthree_right {
    height: 850px;
    background-color: rgb(51,102,204);
    display: block;
  }
}
